*{
    margin:0;
    padding: 0;
}
body {
    
    padding-top:100px;
    background-color:rgb(12, 12, 70);
    margin:100px;
  }
  .container {
   box-shadow: 0 0 40px rgb(104, 93, 95);
    padding: 20px;
    margin:300px;
    border: 2px solid grey;
    background-color:white;
    border-radius:20px;
  }
  h1 {
    text-align: center;
    margin-bottom: 25px;
  }
  .input {
    display: flex;
    margin-bottom: 10px;
    margin: 20px ;
   

  }
  input {
    flex: 1;
    padding: 5px;
  }
  select {
    flex: 1;
    margin-left: 10px;
    padding: 5px;
  }
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: blue;
    color:white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  #result {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 10px;
    color: black;
  }
  
